<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="cmd_vel_topic" default="/cmd_vel" />   <!-- cmd_vel -->
  <arg name="odom_topic" default="odom" />
  <arg name="move_forward_only" default="false"/>
    <arg name="target_x_vel" default="0.2"/>
    <arg name="target_yaw_vel" default="0.2"/>
    <arg name="robot_radius" default="0.3"/>
    <arg name="tool_radius" default="0.25"/>
  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    
    <!--<param name="base_global_planner" value="global_planner/GlobalPlanner"/> -->
    <param name="base_global_planner" value="full_coverage_path_planner/SpiralSTC"/>  
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find turtlebot3_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/dwa_local_planner_params_$(arg model).yaml" command="load" />
    <param name="SpiralSTC/robot_radius" value="$(arg robot_radius)"/>
    <param name="SpiralSTC/tool_radius" value="$(arg tool_radius)"/>
    <param name="global_costmap/robot_radius" value="$(arg robot_radius)"/>
    <!--<param name="base_global_planner" value="global_planner/GlobalPlanner"/> -->

    <param name="recovery_behavior_enabled" value="True" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />
  </node>
</launch>
